›html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
}

.masthead {
	background-image: url("../images/beetle.svg"), url("../images/beetle.svg"), url("../images/masthead-bg.png");
	background-size: 70px auto, 70px auto, 100px auto;
	padding-top: 0;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left 0px, right 0px;
	text-align: center;
	color: rgb(90, 42, 42);
}

h1 {
color: #512200;
font-size: 3.5rem;
margin: 0;
padding-bottom: 0.3em;

}

nav {
	text-align: center;
	height: 55px;
}

nav li {
	margin:0;
	float: left;
	width: 25%;
	display: inline-block;
}

nav a {
color: white;
display: block;
padding: 0.8rem;
text-decoration: none;
background-color: #9b7c64;
font-size: 1.5rem;
background-color: rgba(81, 34, 0, 0.5);
}

nav a:hover {
	background-color: #512200;
}

nav ol {
	list-style-type: none;
	margin :0;
	padding: 0;
	text-align: center;
}

img {
	width: 100%;
	display: block;
}

p {
	position: absolute;
	text-align: center;
	color: white;
	bottom:1.5em;
	width: 100%;
	font-size: 2rem;
	padding: 0;
	margin: 0;
}

.text {
	padding: 0;
	margin: 0;
	position: relative;
}

.bug {
	float: left;
	width: 50%;
	position: relative;
}


.bugbtn {
display: inline-block;
padding: 0.6em 2em;
text-decoration: none;
border-radius: 15px;
color: #fff;
background-color: #8cc63f;
background-image: linear-gradient(to bottom, #8cc63f, #006837);
position: absolute;
bottom: 1.5em;
left: 50%;
transform: translateX(-50%);
}

.foot-beetle {
	width: 10%;
	margin: 0 auto;
}

footer {
	background-color: #9b7c64;
	clear: both;
	text-align: center;
	padding: 0;
}

