›html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
}

.masthead {
	background-image: url("../images/beetle.svg"), url("../images/beetle.svg"), url("../images/masthead-bg.png");
	background-size: 70px auto, 70px auto, 100px auto;
	padding-top: 0;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left 15px, right 15px;
	text-align: center;
	color: rgb(90, 42, 42);
}

h1 {
color: #512200;
font-size: 3.5rem;
margin: 0;
padding-bottom: 0.3em;

}

nav {
	text-align: center;
}

nav li {
	margin:0;
	float: left;
	width: 25%;
	display: inline-block;
}

nav a {
color: white;
display: block;
padding: 0.8rem;
text-decoration: none;
background-color: #9b7c64;
font-size: 1.5rem;
}

nav a: hover {
	color: 512200;
}

nav ol {
	list-style-type: none;
	margin :0;
	padding: 0;
	text-align: center;
}

img {
	width: 100%;
	display: block;
}

p {
	position: relative;
	text-align: center;
	color: white;
	bottom: 3em;
	width: 100%;
	font-size: 2rem;
	padding: 0;
	margin: 0;
}

.nest {
	float: left;
	width: 50%;
}

.stag {
	float: right;
	width: 50%;
}
.dung {
	float: left;
	width: 50%;
}

.tort {
	float: right;
	width: 50%;
}

.antbtn, .stagbtn, .dungbtn, .tortbtn {
display: inline-block;
padding: 0.6em 2em;
text-decoration: none;
border-radius: 15px;
color: #fff;
background-color: #8cc63f;
background-image: linear-gradient(to bottom, #8cc63f, #006837);
}

.antbtn {
position: relative;
bottom: 3em;
left: 3em;
}

.stagbtn {
position: relative;
bottom: 3em;
left: 8em;
}

.dungbtn {
position: relative;
bottom: 3em;
left: 3em;
}

.tortbtn {
position: relative;
bottom: 3em;
left: 8em;

}

.foot-beetle {
	width:10%;
	position: relative;
	left: 27em;
}

footer {
	background-color: #9b7c64;
}

